body{
    direction: rtl;
}
/*.owl-carousel{*/
    /*direction: ltr;*/
/*}*/
.mega-menu .menu-links > li.active a,
.mega-menu .menu-links > li > a:hover,
.mega-menu .drop-down a:hover, .mega-menu .drop-down-tab-bar a:hover,
.mega-menu .menu-links > li.active .drop-down a:hover,
.mega-menu .drop-down-multilevel li:hover > a,
.search .search-btn:hover,.footer-widget a{
    color: #ead64c;
}
.button,#back-to-top .top{
    background: #324a5e;
}
.blog-box .post-category a{
    background-color:#ead64c ;
}
.blog-overlay .tag{
    background:#ead64c ;
}
.button{
    border-color: #2d4152;
}
.search .search-box button:hover,.listing-post-meta .theme-color a{
    color: #324a5e;
}
.button:hover, .button:focus {
    background: #2c9984;
    color: #ffffff;
    border-color: #2c9984;
}
.button.button-border.white:hover, .button.button-border.white:focus,
a, button, input,
.button.icon-color,
a:hover,
.theme-color{
    color: #2c9984;
}
.mega-menu .menu-logo img{
    height: 50px;
}
.mega-menu .menu-logo{
    padding: 17px 0 25px;
}
.light-gray-bg{
    background: #f6f6f6;
}
.section-title:nth-child(odd) .title-effect::before {
    background: #2c9984;
}
.title-effect::before{
    opacity: 0.3;
}
.mega-menu *{
    text-align: right;
}
.search .search-box button{
    right: auto;
    left: 27px;
}
.button + .button {
    margin-left: 0;
    margin-right: 20px;
}
.business-banner-03 span{
    letter-spacing: 1px;
}
.slider-content a i{
    font-size: 20px;
    position: relative;
    top: 2px;
}
.slider-content a i.fa-sign-in{
    transform: rotate(180deg);
}
.blog-box.blog-2 .button.icon-color{
    float: left;
}
.button.icon-color i{
    margin-left: 0;
    margin-right: 10px;
    border-color: #2c9984;
}
.button.icon-color:hover i{
    transform: translateX(-3px);
}
.blog-info span{
    margin-right: 0;
    margin-left: 6px;
}
.blog-info h4{
    font-size: 20px;
}
::selection{
    background:#324a5e;
}
.blog-overlay .blog-name{
    padding-right: 30px;
    padding-left: 0;
}
.blog-overlay{
    text-align: right;
}
.owl-carousel .owl-dots .owl-dot:hover span, .owl-carousel .owl-dots .owl-dot.active span{
    background: #324a5e;
}
a.blog-name-left.theme-bg{
    background: #eeda4d;
}
.blog-name-left.theme-bg i{
    transform: scale(1);
    transition: all 0.5s;
    font-size: 18px;
}
.listing-post-meta .theme-color a{

}
.blog-name-left.theme-bg:hover i{
    transform: scale(1.3);
}
.listing-post .blog-name .blog-name-left{
    line-height: 55px;
}
.listing-post .listing-post-info .listing-post-meta ul li{
    border-left: 2px solid rgba(0,0,0,0.1);
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
    margin-left: 5px;
    padding-left: 10px;
}
.listing-post .listing-post-info .listing-post-meta ul li:last-child{
    border: 0;
}
.addresss-info i{
    float: right;
    padding-left: 5px;
    padding-right: 0;
}
.social-icons li {
    margin: 0 0 8px 8px;
}
@media (max-width: 991px) {
    .mega-menu .menu-logo {
        padding: 10px 0;
    }
    .mega-menu .menu-logo img {
        height: 30px;
        margin: 5px 0;
    }
    .mega-menu .menu-links > li > a i.fa.fa-indicator{
        left: 20px;
        right: auto;
    }
}